@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.container {
    font-family: 'Manrope';
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--advice-card-color);
    color: var(--text-color);
    width: 420px;
    min-height: 300px;
    height: auto;
    margin-top: 120px;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 80px;
    margin-top: 20px;
}

.bilhete-conselho {
    text-align: center;
    width: 370px;
}

.num-conselho {
    text-align: center;
    color: var(--advice-dice-color);
    letter-spacing: 5px;
}

.description {
    display: flex;
    justify-content: center;
    width: 330px;
    height: auto;
    min-height: 140px;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;

}

.bar-divider {
    width: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-dice {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color:var(--advice-dice-color);
    transform: translateY(50%);
}

.dice {
    width: 20px;
}


.img-dice:hover {
    transition: 0.2s;
    background-color:var(--advice-dice-color);
    box-shadow: 0 0 20px var(--advice-dice-color) ;
}


@media (max-width:425px) {
    .container{
        width: 310px;
        min-height: 220px;
    }

    .description {
        width: 220px;
    }

    .bar-divider {
        width: 270px;
    }

    .bilhete-conselho {
        justify-content: center;
        width: 270px;
    }

    .img-dice{
        align-items: center;
    }

    .img-dice:active{
        transition: 0.2s;
        background-color: var(--advice-dice-color);
        box-shadow: 0 0 20px var(--advice-dice-color        );
    }
}